
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #800080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}

#navbar{
    width: 100%;
    background-color: white;
    padding: 0px 8px;
    z-index: 100;
    position: fixed;
    top: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    
}

#container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* border: 1px solid red; */
}

#container>div{

    /* border: 1px solid red; */
    width: 50%;


}


#push-input{
padding: 10px;
outline: none;
border: 0;
border-radius: 5px;

}

#label{
    text-align: right;
    margin-right: 420px;
    color: white;
}
#status{
    color: greenyellow;
}
button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;
    color: white;
    border: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    min-width: 70px;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
button:hover{
    color: black;
    background: white;

}

#container>div:nth-child(2){
    display: flex;
    align-items: center;
    
}

#container>div:nth-child(2)>div:nth-child(1){

    width: 40%;
    margin: auto;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 280px;
    

}

#container>div:nth-child(2)>div:nth-child(2){
    height: 330px;
    width: 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
}

#container>div:nth-child(2)>div:nth-child(2)>img{
    width: 70%;
    transform: rotate(-90deg);
}


#stack{

    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    justify-content:baseline;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-items: center;

}
#stack>div{
    width: 95%;
    display: grid;
    text-align: center;
    color: white;
    place-items: center;
    margin: 4px;
    border-radius: 5px;
    height: 40px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );}

@keyframes append-animate {
	from {
        margin-bottom: 280px;
		opacity: 0;
	}
	to {
        margin-bottom: 0px;
		opacity: 1;	

	}
}



/* animate new box */
.new-box {

	animation: append-animate .3s linear;
}

@keyframes deappend-animate {
	from {


	}
	to {
        
        margin-bottom: 400px;
	}
}


.box-out{
    animation: deappend-animate .3s linear;

}

@media all and (max-width: 950px) and (min-width:601px) {
    #container{
        width: 95%;
    }
    #label{
        margin-right: 180px;
    }
}


@media all and (max-width: 601px) and (min-width:200px) {
    #container{
        width: 95%;
        flex-direction: column;
    }
    #container>div:nth-child(1){
        width: 100%;
    }
    #container>div:nth-child(2){
        width: 100%;
    }
    #label{
        text-align: center;
        color: white;
        position: absolute;
        top: 0;
        margin-top: 50px;
        margin-right: 0px;
        font-size: 25px;
        margin-left: 40spx;

    }
    #navbar>h1{
        font-size: 18px;
    }


}


